
body{
   margin: 0px;
   background-color: darkslateblue;
}
.wrapper{
   width:100%;
  padding: 0px;
   margin: 0px;

  

}
.flex-container{
  display: flex;
 
  
}
.box{
  
   height: 60px;
   min-width: 100px;
   padding-top: 10px;
   
  
   
   
   
}
.one{
   background-color: chartreuse;
   flex-grow: 7;
   
}
.two{
   background-color: darkblue;
   flex-grow: 4;
   
}
.three{
   background-color: darkred;
   flex-grow: 1;
 
}